body {
    min-height    : 100vh;
    display       : flex;
    flex-direction: column;
    background    : #F0F0F0;
}

.root {
    display       : flex;
    flex-direction: column;
    flex-grow     : 1;
}