body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    * {
        outline: none;
    }
}

.root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @apply bg-gray-100 dark:bg-black;
    @apply text-black dark:text-white;
}

// editor
.ProseMirror {
    flex-grow: 1;

    a {
        @apply text-primary underline underline-offset-4;
    }

    &>*+* {
        margin-top: 0.5em;
    }

    pre {
        background: #272822;
        color: #fff;
        font-family: "JetBrainsMono", monospace;
        padding: 1rem 2rem;
        width: 100%;
        max-width: 1000px;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }

        *::selection {
            background: rgba(255, 255, 255, 0.15);
            color: currentColor;
        }

        .hljs {
            display: block;
            overflow-x: auto;
            padding: 1em 0.5em;
            background: #272822;
            color: #ddd;
        }

        .hljs-tag,
        .hljs-keyword,
        .hljs-selector-tag,
        .hljs-literal,
        .hljs-strong,
        .hljs-name {
            color: #f92672;
        }

        .hljs-code {
            color: #66d9ef;
        }

        .hljs-class .hljs-title {
            color: white;
        }

        .hljs-attribute,
        .hljs-symbol,
        .hljs-regexp,
        .hljs-link {
            color: #bf79db;
        }

        .hljs-string,
        .hljs-bullet,
        .hljs-subst,
        .hljs-title,
        .hljs-section,
        .hljs-emphasis,
        .hljs-type,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-selector-attr,
        .hljs-selector-pseudo,
        .hljs-addition,
        .hljs-variable,
        .hljs-template-tag,
        .hljs-template-variable {
            color: #a6e22e;
        }

        .hljs-string {
            color: #f9af26;
        }

        .hljs-property {
            color: #2eb8e2;
        }

        .hljs-comment,
        .hljs-quote,
        .hljs-deletion,
        .hljs-meta {
            color: #75715e;
        }

        .hljs-keyword,
        .hljs-selector-tag,
        .hljs-literal,
        .hljs-doctag,
        .hljs-title,
        .hljs-section,
        .hljs-type,
        .hljs-selector-id {
            font-weight: bold;
        }
    }

    ol,
    ul {
        margin-left: 2em;
    }

    ol li,
    ul li {
        list-style: initial;
    }

    ol li {
        list-style: decimal;
    }

    blockquote {
        @apply border-l-4 border-primary;
        padding-left: 1rem;
    }

    h1 {
        @apply text-4xl
    }

    h2 {
        @apply text-3xl
    }

    h3 {
        @apply text-2xl
    }

    h4 {
        @apply text-xl
    }

    img.ProseMirror-selectednode {
        @apply ring-primary ring-4
    }

    // placeholder
    *.is-emptyis-editor-empty[data-placeholder]:first-child:before,
    p.is-editor-empty:first-child:before {
        @apply text-gray;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}

.width-placeholder[data-placeholder]:empty:before {
    @apply text-gray;
    content: attr(data-placeholder);
    pointer-events: none;
}

.filedrop {
    &-target {
        @apply transition absolute inset-0 pointer-events-none opacity-0 flex;

        &.over-frame {
            @apply border border-primary bg-primary bg-opacity-10 z-20 pointer-events-auto opacity-100
        }

        &.over-target {
            @apply bg-primary bg-opacity-20
        }
    }
}